.wrapper {
    min-height: calc(100vh - 130px);
    margin-top: var(--header-height);
    background-image: url('@/assets/images/bg-shop.png');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
}

.container {
    width: 60%;
    margin: 0 auto;
}

.title {
    text-align: center;
    margin: 24px auto;
}
