.wrapper {
    min-height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
    background-color: var(--main-mint-2);
    background-image: url('@/assets/images/bg-shop.png');
    background-size: contain;
    background-position: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}
