.shop-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;
    background-color: var(--main-white);
    // border: 1px solid var(--sub-blue);
    box-shadow: 0 1px 2px var(--sub-blue);
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .shop-toolbar {
        flex-direction: column;
    }
}