.wrapper {
    background-color: #ccc;
}

header {
    width: 100%;
    background-color: var(--primary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);

    .container {
        width: 80%;
        min-height: var(--header-height);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .brand {
        width: 100px;
        img {
            width: 100%;
        }
    }
}

.checkout-content {
    margin-top: var(--header-height);
    min-height: 100vh;
    .container {
        width: 90%;
        margin: 0 auto;
        padding-top: 30px;
        display: flex;
        gap: 16px;
        .left {
            flex: 1;
        }
        .right {
            flex-basis: 300px;
        }
    }
}

.product {
    padding: 10px 16px;
    background-color: var(--main-white);
    border-radius: 5px;
    box-shadow: 0 1px 2px var(--sub-blue);
    &-header {
        display: flex;
        text-align: center;
        margin-bottom: 24px;
        .title {
            flex: 1;
        }
        .heading {
            flex: 4;
            text-align: left;
        }
        .total {
            text-align: right;
        }
    }
    &-info {
        .product-item {
            display: flex;
            align-items: center;
            border-bottom: 1px solid #ccc;
            padding-bottom: 16px;
            margin-bottom: 16px;
            .info {
                flex: 4;
                display: flex;
                .image-container {
                    flex: 0 0 100px;
                    overflow: hidden;
                    position: relative;
                    padding-right: 16px;
                    border-radius: 5px 5px 0px 0px;
                    .image-box {
                        padding-bottom: 100%;
                        position: relative;
                        flex-grow: 1;
                        background-color: #fff;
                        -webkit-filter: brightness(0.975);
                        filter: brightness(0.975);
                        .image {
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .name {
                    align-self: center;
                    span {
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                    }
                }
            }
            .block {
                flex: 1;
                text-align: center;
            }
            .total {
                text-align: right;
            }
        }
        .total-price {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 12px;
            .price {
                color: var(--sub-orange);
                font-size: 2rem;
            }
        }
    }
}

.shipment-info {
    padding: 10px 16px;
    background-color: var(--main-white);
    border-radius: 5px;
    box-shadow: 0 1px 2px var(--sub-blue);
    .shipment-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 12px;
        &__title {
            color: var(--main-grey);
        }
        &__nav {
            color: var(--sub-blue);
            font-size: 1.4rem;
        }
    }
    .customer-info {
        .name {
            font-size: 1.4rem;
        }
        .address {
            font-size: 1.4rem;
            color: var(--main-grey);
        }
    }
}
