.product {
    margin: 24px auto;
    .product-detail {
        display: flex;
        border-radius: 5px;
        box-shadow: 0 1px 2px var(--sub-blue);
        background-color: var(--main-white);
        .product-image-container {
            flex: 1;
            overflow: hidden;
            position: relative;
            padding: 16px;
            border-radius: 5px 5px 0px 0px;
            .product-image-box {
                padding-bottom: 100%;
                position: relative;
                flex-grow: 1;
                background-color: #fff;
                -webkit-filter: brightness(0.975);
                filter: brightness(0.975);
                .product-image {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    margin: auto;
                    width: auto;
                    height: auto;
                    max-width: 100%;
                    max-height: 100%;
                }
            }
        }
        .product-info {
            flex: 2;
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 16px;
            .product-name {
                font-size: 3rem;
            }
            .product-group {
                display: flex;
                align-items: center;
                .label {
                    flex-basis: 20%;
                }
                .rating {
                    font-size: 3.5rem;
                }
                .price {
                    font-size: 3rem;
                    color: var(--sub-orange);
                    font-family: 'Fira Sans Regular';
                }
                .quantity {
                    display: flex;
                    flex-direction: column;
                    .quantity-box {
                        display: flex;
                        align-items: center;
                        gap: 24px;
                        .cart-quantity {
                            display: flex;
                            align-items: center;
                            button {
                                width: 32px;
                                height: 32px;
                                background-color: transparent;
                                border: 1px solid var(--sub-blue);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                cursor: pointer;
                            }
                            input {
                                width: 60px;
                                height: 32px;
                                text-align: center;
                                cursor: text;
                                border: none;
                                border-top: 1px solid var(--sub-blue);
                                border-bottom: 1px solid var(--sub-blue);
                            }
                        }
                    }
                    .quantity-error {
                        color: #d32f2f;
                        margin-top: 10px;
                        font-size: 1.4rem;
                    }
                }
                .shipping {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    img {
                        width: 40px;
                    }
                    span {
                        font-size: 2rem;
                        font-weight: 400;
                        color: var(--primary);
                    }
                }
            }
            .product-quantity {
                align-items: flex-start;
            }
            .product-action {
                display: flex;
                align-items: center;
                gap: 24px;
            }
        }
    }
    .product-description {
        .group {
            display: flex;
            flex-direction: column;
            border-radius: 5px;
            box-shadow: 0 1px 2px var(--sub-blue);
            background-color: var(--main-white);
            margin: 24px auto;
            padding: 16px;
            .title {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 16px;
            }
            .table {
                tr:nth-child(odd) {
                    background-color: var(--main-mint-2);
                }
                td {
                    padding: 8px;
                    font-size: 1.4rem;
                    &:nth-child(1) {
                        width: 150px;
                    }
                }
            }
            .description {
                white-space: pre-line;
                font-size: 14px;
                line-height: 2.4;
            }
        }
    }
}

button:disabled,
button[disabled] {
    color: var(--main-black);
}

@media only screen and (max-width: 768px) {
    .product {
        flex-direction: column;
    }
    .product-action > * {
        flex: 1;
    }
}

@media only screen and (max-width: 595px) {
    .product-group {
        .label {
            flex-basis: 30% !important;
        }
        .quantity-box {
            flex-direction: column;
            align-items: flex-start !important;
            gap: 12px !important;
        }
    }
    .product-action {
        flex-direction: column;
        align-items: stretch !important;
    }
}
