.filter-sidebar {
    flex: 1;
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

@media only screen and (max-width: 1024px) {
    .filter-sidebar {
        flex-direction: row;
        & > * {
            flex: 1;
        }
    }
}

@media only screen and (max-width: 595px) {
    .filter-sidebar {
        flex-direction: column;
        & > * {
            flex: 1;
        }
    }
}
