.wrapper {
    height: 100vh;
    background-color: var(--primary);
    background-image: url('@/assets/images/bg-login-pattern.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    width: 300px;
    img {
        width: 100%;
    }
}

.reset-form {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    .submit-btn {
        margin-top: 24px;
    }
}
