.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: var(--header-height);
    background-color: var(--main-mint-2);
}

.container {
    width: 80%;
    margin: 0 auto;
}

.banner {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('@/assets/images/bg-banner.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--main-mint-2);
        .welcome {
            font-size: 60px;
            // font-family: 'SVN Gotham Light';
            img {
                margin-left: 20px;
            }
        }
        .description {
            width: 80%;
            margin-top: 80px;
            margin-bottom: 120px;
            text-align: center;
            font-size: 2rem;
        }
    }
}

.block {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    .title {
        font-size: 2rem;
    }
    .description {
        text-align: center;
    }
    .tabs {
        width: 100%;
    }
}

.site-info {
    background-color: var(--primary);
    padding: 50px 0;
    .inner {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .info {
            flex: 1;
            text-align: center;
            padding: 24px;
            .number {
                font-size: 4rem;
            }
            .title {
                font-size: 2rem;
            }
        }
    }
}

.info-image {
    width: 100%;
    img {
        width: 100%;
    }
}

.idea-poster {
    display: flex;
    .poster {
        flex: 1;
        img {
            display: block;
            width: 100%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }
        @supports not (aspect-ratio: 1 / 1) {
            .poster img::before {
                float: left;
                padding-top: 100%;
                content: '';
            }

            .poster img::after {
                display: block;
                content: '';
                clear: both;
            }
        }
    }
}

.news {
    .news-box {
        display: flex;
        gap: 20px;
        padding-top: 50px;
        margin-bottom: 50px;
        .inner {
            display: flex;
            flex-direction: column;
            flex: 1;
            border: 1px solid var(--sub-blue);
            border-radius: 5px;
            padding: 20px;
            box-shadow: 5px 5px #88888847;
            .caption {
                flex-grow: 1;
                margin-bottom: 24px;
            }
            .user {
                display: flex;
                margin-top: 16px;
                gap: 10px;
                .avatar {
                    border: 1px solid var(--primary);
                    border-radius: 50%;
                    width: 50px;
                    height: 50px;
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 50%;
                    }
                }
                .info {
                    .time {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .news-box {
        flex-direction: column;
    }
}
