.wrapper {
    width: 100%;
    margin: 0 auto;
    margin-top: var(--header-height);
    background-color: var(--main-mint-2);
}

.banner {
    width: 100%;
    height: calc(100vh - 80px);
    background-image: url('@/assets/images/bg-banner.jpg');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    .inner {
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: var(--main-mint-2);
        .welcome {
            font-size: 60px;
            // font-family: 'SVN Gotham Light';
            img {
                margin-left: 20px;
            }
        }
        .description {
            width: 80%;
            margin-top: 80px;
            margin-bottom: 120px;
            text-align: center;
            font-size: 2rem;
        }
    }
}

.block {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--primary);
    .title {
        font-size: 2rem;
    }
    .description {
    }
    .tabs {
        width: 100%;
    }
}

.product {
}
