.review {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 0 1px 2px var(--sub-blue);
    background-color: var(--main-white);
    margin: 24px auto;
    padding: 16px;
    .title {
        font-size: 2rem;
        font-weight: 600;
    }
    .rating-summary {
        display: flex;
        align-items: center;
        gap: 16px;
        padding: 24px;
        .rating-point {
            font-size: 3rem;
        }
        .rating-star {
            display: flex;
            flex-direction: column;
            .rating-star_icon {
                font-size: 3rem;
            }
            .rating-total {
                font-size: 1.2rem;
            }
        }
    }
    .review-bar {
        display: flex;
        border-top: 1px solid black;
        padding: 24px;
        gap: 16px;
        .user {
            display: flex;
            align-items: center;
            gap: 16px;
            .user-avatar {
                width: 50px;
                height: 50px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                }
            }
            .user-info {
                .time-create {
                    font-size: 1.2rem;
                }
            }
        }
        .review-info {
            flex: 1;
        }
    }
}

@media only screen and (max-width: 595px) {
    .review-bar {
        flex-direction: column;
    }
}
