.sort-bar {
    display: flex;
    gap: 16px;
    align-items: center;
    // .title {
    // }
    // .select-box {
    //     // select {
    //     //     width: 100%;
    //     //     height: 40px;
    //     //     font-family: 'SVN Gotham Regular';
    //     // }
    // }
}
